* {
    box-sizing: border-box;
}

body {
    background-color: #EEF9BF;

}

h1 {
    font-family: 'Roboto';
    color: #75b79e;
    font-weight: bold;
    font-size: 56px;
    text-align: center;
    margin-top: 40px;
    line-height: 65px;
    letter-spacing: 1px;
}

.jogo {
    max-width: 900px;
    width: 60%;
    display: flex;
    margin: 60px auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    perspective: 1000px;
}

.jogo div {
    display: flex;
}

.carta {
    background-color: #A7E9AF;
    width: 120px;
    height: 145px;
    border: 1px solid #99cea8;
    border-radius: 10%;
    margin-bottom: 40px;
    margin-right: 20px;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}


.carta:active {
    transform: scale(0.97);
    transition: transform .2s;
}

.movimento-carta {
    transform: rotateY(180deg);
}

.rotacao-carta {
    transform: rotateY(360deg);
}

.carta img {
    width: 100px;
    height: 100px;
    position: absolute;
    margin: 20px 10px;
}

.escondido {
    display: none;
}
